* {
  box-sizing: border-box;
  color: #333;
}
body {
  background-color: #9999ff;
  margin: 0;
  font-family: "Muli", sans-serif;
}

header {
  font-family: 'Pacifico', cursive;
}

header h2 {
  font-size: 2.5rem;
  color: #fff;
}

.search,
.details,
.search-params {
  background-color: #f2f2f2;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  height: -webkitfillavailble;
}

.pet {
  width: 100%;
  height: 100px;
  display: flex;
  overflow: hidden;
  font-size: .5rem;
  box-shadow: 0 0 10px #ccc;
  background: #fff;
  margin: 15px 0;
  text-decoration: none;
}

.pet img {
  width: 100px;
  min-height: 100px;
}

.info {
  float: left;
  height: 100px;
  font-size: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100x;
  height: 100px;
  float: left;
  margin-right: 30px;
  margin-left: 15px;
}

.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Pacifico', cursive;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

header a {
  color: #fff;
  font-size: 70px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

header p {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.petprofile p {
  line-height: 2;
  font-size: 1rem;
}

.petprofile h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 50px;
}

.petprofile h2 {
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin: 50px;
}

.carousel > img {
  max-width: 45%;
  max-height: 500px;
}

.carousel-smaller {
  width: 50%;
}

.carousel-smaller > img {
  width: 175px;
  height: 175px;  
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  border: 2px solid #333;
}

.carousel-smaller > img.active {
  border-color: #9999ff;
  opacity: 0.6;
}

.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Muli", san-serif;
  color: #5b5b99;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
.petprofile button {
  background-color: #7a7acc;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Muli", san-serif;
  font-weight: bold;
}

.search-params button:hover {
  background-color: #adadff;
}

.search-params button:active {
  background-color: #8989e5;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}
